.top-banner {
  background-color: #426b35;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.logo {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 800;
  color: #285c2b;
}

.logo span {
  color: orange;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.link {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 2rem;
}

.navlink {
  position: relative;
  color: #263b29;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #fd8b00;
}

main {
  margin: 2rem;
  padding: 2rem 6rem;
  min-height: 500px;
  background: linear-gradient(0deg, rgb(3, 97, 58), rgb(250, 245, 239));
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-cnt h4 {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 8px 16px;
  background-color: #426b35;
  color: white;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-cnt h3 {
  margin: 0;
  color: #243b1f;
  font-size: 2.5rem;
  line-height: 1.07;
  font-weight: 800;
}

.main-cnt p {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 14px 20px;
  background-color: #2f5428;
  color: white;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1f3d1b;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(47, 84, 40, 0.25);
}

.hero {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
  box-shadow: 0 10px 25px rgb(190, 182, 182);
}

.start-badge {
  font-size: 3rem;
  color: #1f3d1b;
  font-weight: 600;
}

.hero p {
  font-size: 1.1rem;
  max-width: 150px;
}

@media (max-width: 700px) {
  header {
    height: auto;
    padding: 1.2rem 1.5rem;
    flex-direction: column;
    gap: 1.2rem;
  }

  .logo {
    font-size: 1.7rem;
  }

  .link {
    gap: 1.2rem;
  }

  .navlink {
    font-size: 0.9rem;
  }
}
